{{ if .Title }}
<figure style="display: block;
  /* border: 1px dotted gray; */
  margin: 5px; /* adjust as needed */">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" style="  vertical-align: top;">
  <figcaption style="  
  /* border: 1px dotted gray; */
  text-align: center;">{{ .Title }}</figcaption>
</figure>
{{ else }}
<figure style="display:   block;
  /* border: 1px dotted gray; */
  margin: 5px; /* adjust as needed */">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" style="  vertical-align: top;">
</figure>
{{ end }}